## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN","NAME"], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_counts.loc[lambda x: x < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
Application_class = application_df["CLASSIFICATION"].value_counts()

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = Application_class.loc[lambda x: x < 800].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = dummies["IS_SUCCESSFUL"]
X = dummies.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=60)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  uint8
 4   APPLICATION_TYPE_T10          34299 non-null  uint8
 5   APPLICATION_TYPE_T19          34299 non-null  uint8
 6   APPLICATION_TYPE_T3           34299 non-null  uint8
 7   APPLICATION_TYPE_T4           34299 non-null  uint8
 8   APPLICATION_TYPE_T5           34299 non-null  uint8
 9   APPLICATION_TYPE_T6           34299 non-null  uint8
 10  APPLICATION_TYPE_T7           34299 non-null  uint8
 11  APPLICATION_TYPE_T8           34299 non-null  uint8
 12  AFFILIATION_CompanySponsored  34299 non-null  uint8
 13  AFFILIATION_Family/Parent     34299 non-null  uint8
 14  AFFILIATION_Independent       34299 non-null  uint8
 15  AFFILIATION_National          34299 non-null  uint8
 16  AFFILIATION_Other             34299 non-null  uint8
 17  AFFILIATION_Regional          34299 non-null  uint8
 18  CLASSIFICATION_C1000          34299 non-null  uint8
 19  CLASSIFICATION_C1200          34299 non-null  uint8
 20  CLASSIFICATION_C2000          34299 non-null  uint8
 21  CLASSIFICATION_C2100          34299 non-null  uint8
 22  CLASSIFICATION_C3000          34299 non-null  uint8
 23  CLASSIFICATION_Other          34299 non-null  uint8
 24  USE_CASE_CommunityServ        34299 non-null  uint8
 25  USE_CASE_Heathcare            34299 non-null  uint8
 26  USE_CASE_Other                34299 non-null  uint8
 27  USE_CASE_Preservation         34299 non-null  uint8
 28  USE_CASE_ProductDev           34299 non-null  uint8
 29  ORGANIZATION_Association      34299 non-null  uint8
 30  ORGANIZATION_Co-operative     34299 non-null  uint8
 31  ORGANIZATION_Corporation      34299 non-null  uint8
 32  ORGANIZATION_Trust            34299 non-null  uint8
 33  INCOME_AMT_0                  34299 non-null  uint8
 34  INCOME_AMT_1-9999             34299 non-null  uint8
 35  INCOME_AMT_10000-24999        34299 non-null  uint8
 36  INCOME_AMT_100000-499999      34299 non-null  uint8
 37  INCOME_AMT_10M-50M            34299 non-null  uint8
 38  INCOME_AMT_1M-5M              34299 non-null  uint8
 39  INCOME_AMT_25000-99999        34299 non-null  uint8
 40  INCOME_AMT_50M+               34299 non-null  uint8
 41  INCOME_AMT_5M-10M             34299 non-null  uint8
 42  SPECIAL_CONSIDERATIONS_N      34299 non-null  uint8
 43  SPECIAL_CONSIDERATIONS_Y      34299 non-null  uint8
dtypes: int64(3), uint8(41)
memory usage: 2.1 MB

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=500, activation="relu", input_dim=43))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=250, activation="relu"))

nn.add(tf.keras.layers.Dense(units=75, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 500)               22000

 dense_1 (Dense)             (None, 250)               125250

 dense_2 (Dense)             (None, 75)                18825

 dense_3 (Dense)             (None, 1)                 76

=================================================================
Total params: 166,151
Trainable params: 166,151
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5687 - accuracy: 0.7239
Epoch 2/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7295
Epoch 3/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7314
Epoch 4/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7331
Epoch 5/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7329
Epoch 6/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7334
Epoch 7/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7343
Epoch 8/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7341
Epoch 9/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7341
Epoch 10/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7358
Epoch 11/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7362
Epoch 12/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7360
Epoch 13/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7372
Epoch 14/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7369
Epoch 15/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7374
Epoch 16/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7376
Epoch 17/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7386
Epoch 18/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7375
Epoch 19/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7385
Epoch 20/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7395
Epoch 21/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7391
Epoch 22/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7386
Epoch 23/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7394
Epoch 24/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7393
Epoch 25/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7388
Epoch 26/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7393
Epoch 27/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7395
Epoch 28/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7395
Epoch 29/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7399
Epoch 30/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7390
Epoch 31/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7403
Epoch 32/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7394
Epoch 33/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7405
Epoch 34/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7404
Epoch 35/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7399
Epoch 36/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7400
Epoch 37/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7401
Epoch 38/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7407
Epoch 39/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7408
Epoch 40/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7404
Epoch 41/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7410
Epoch 42/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7404
Epoch 43/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7407
Epoch 44/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7416
Epoch 45/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7408
Epoch 46/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7414
Epoch 47/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7408
Epoch 48/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7404
Epoch 49/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7406
Epoch 50/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7411
Epoch 51/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7411
Epoch 52/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7401
Epoch 53/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7412
Epoch 54/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7416
Epoch 55/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7416
Epoch 56/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7414
Epoch 57/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7417
Epoch 58/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7411
Epoch 59/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7416
Epoch 60/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7420
Epoch 61/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7418
Epoch 62/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7416
Epoch 63/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7418
Epoch 64/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7412
Epoch 65/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7419
Epoch 66/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7420
Epoch 67/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7414
Epoch 68/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7423
Epoch 69/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7422
Epoch 70/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7419
Epoch 71/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7424
Epoch 72/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7419
Epoch 73/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7418
Epoch 74/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7420
Epoch 75/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7420

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5681 - accuracy: 0.7257 - 410ms/epoch - 2ms/step
Loss: 0.5681150555610657, Accuracy: 0.7257142663002014

In [18]:
# Export our model to HDF5 file
nn.save("Third_run.h5")